  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;

  }

  @tailwind base;
  @tailwind components;
  @tailwind utilities;