  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;

  }

  body {
    background-color: #B5F1CC;

  }

  ::-webkit-scrollbar {
    display: none;
  }

  /* making animation for modal */
  .modal-motion {
    animation: modal-motion 0.5s;
  }

  @keyframes modal-motion {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  @tailwind base;
  @tailwind components;
  @tailwind utilities;